<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userService" class="com.dkt.service.impl.UserServiceImpl"></bean>
    <bean id="userService2" class="com.dkt.service.impl.UserServiceImpl2" init-method="initData" destroy-method="saveData"></bean>

</beans>